/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want auto */
    border: 2px solid red;
/* height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed sidebar (stay in place  on scroll */
    z-index: 1; /* stay on top */
    top: 0; /* stay at the top*/
    left: 0;
    background-color: black; /* black */
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

