body {
    max-width: 900px;
    max-height: 700px;
    margin: 0 auto;
}
#background {
    background-color: #4a4a46ce;
}

#webdesigner {
    padding-bottom: 30px;
    width:  900px;
    height: 350px;
}

.desk, .sphere, .person {
    border: 10px solid #3e3e3e;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 5px;
    box-sizing: border-box;
}

.bottom-images {
    display: flex;
    justify-content: space-between; /* Distribute space between images */
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
